<!DOCTYPE html>
<html>
<head>
  <title>Restaurant Menu</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <h1>Restaurant Menu</h1>

    <div id="name-form">
      <label for="name-input">Enter your name:</label>
      <input type="text" id="name-input">
      <button id="name-submit">Submit</button>
    </div>

    <div id="menu-container" style="display: none;"></div>

    <div id="cart-container" style="display: none;">
      <h2>Cart</h2>
      <ul id="cart-items"></ul>
      <button id="clear-cart">Clear Cart</button>
      <button id="proceed-to-payment">Proceed to Payment</button>
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
  <script>
    // JavaScript code to redirect to payment.html when the button is clicked
    document.getElementById("proceed-to-payment").addEventListener("click", function() {
      window.location.href = "templates/payment.html";
    });
  </script>
</body>
</html>